{% extends 'base.html' %}
{% block title %}Product{% endblock %}
{% block menu %}Product{% endblock %}
{% block content %}

<style>
    .select2 {
        margin: auto;
    }
</style>
<div class="mt-5 mr-5">
    <div class="p-2">
        <button class="btn btn-primary m-auto" data-toggle="modal" data-target="#addModal">+ Tambah
            Produk</button>
        <button class="btn btn-danger mr-2" style="color: white;"
            onclick="generatePdf('/product/downloadAllProduct')"><i class="fa fa-download"></i>Download</button>
    </div>
    <div class="p-2 row">
        <input type="text" class="form-control col-2 m-auto" id="filterCategory" placeholder="Cari kategori..">
        <input type="text" class="form-control col-2 m-auto" id="filterMerk" placeholder="Cari merk..">
        <input type="text" class="form-control col-2 m-auto" id="filterVehicle" placeholder="Cari kendaraan..">
        <select id="filterOutlet" class="form-control form-control-lg col-2 m-auto filterTable">
            <option value="" selected disabled>Outlet</option>
            <option value="">Semua</option>
            {% for x in data_outlet %}
            <option value="{{ x['outlet_name'] }}"> {{ x['outlet_name'] }}</option>
            {% endfor %}
        </select>
        <select id="filterQty" class="form-control form-control-lg col-1 m-auto filterTable">
            <option value="" selected disabled>Qty</option>
            <option value="asc">ASC</option>
            <option value="desc">DESC</option>
        </select>
        <div class="input-group mb-3 col-2 m-auto">
            <input type="text" class="form-control filterTable" placeholder="cari sku, nama ..."
                id="search_table_product">
            <div class="input-group-append">
                <span class="input-group-text" id="basic-addon2">
                    <i class="fa fa-search"></i>
                </span>
            </div>
        </div>
    </div>
</div>

<div class="table-responsive">
    <table id="table_product" class="table table-hover table-bordered table-striped w-100 mb-2"
        style="white-space: nowrap;">
        <thead class="thead-light">
            <th class="text-center">SKU</th>
            <th class="text-center">Part Number</th>
            <th class="text-center">Nama Produk</th>
            <th class="text-center">Barcode</th>
            <th class="text-center">Kendaraan</th>
            <th class="text-center">Kategori</th>
            <th class="text-center">Merk</th>
            <th class="text-center">Outlet</th>
            <th class="text-center">Qty</th>
            <th class="text-center">Satuan</th>
            <th class="text-center">Harga Beli</th>
            <th class="text-center">Harga Jual</th>
            <th class="text-center">Kategori ID</th>
            <th class="text-center">Merk ID</th>
            <th class="text-center"></th>
        </thead>
        <tbody></tbody>
    </table>
</div>

<!-- Modal Edit -->
<div class="modal fade bd-example-modal-lg" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h5 class="modal-title" id="editeModalLabel">Edit Produk</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label for="skuProductEdit">SKU</label>
                            <input type="text" class="form-control data-edit" id="skuProductEdit" readonly>
                        </div>
                        <div class="form-group col-md-9">
                            <label for="namaProductEdit">Nama Produk</label>
                            <input type="text" class="form-control data-edit" id="namaProductEdit" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="partNumberProductEdit">Part Number</label>
                        <input type="text" class="form-control data-edit" id="partNumberProductEdit" required>
                    </div>
                    <div class="form-group">
                        <label for="descriptionsProductEdit">Deskripsi Produk</label>
                        <input type="text" class="form-control data-edit" id="descriptionsProductEdit" required>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6" hidden>
                            <label for="barcodeProductEdit">Barcode</label>
                            <input type="number" class="form-control data-edit" id="barcodeProductEdit" required>
                        </div>
                        <div class="form-group col-md-10">
                            <label for="vehicleProductEdit">Kendaraan</label>
                            <input type="text" class="form-control data-edit" id="vehicleProductEdit" required>
                        </div>
                        <div class="form-group col-md-2">
                            <label for="printVehicleEdit">Print</label>
                            <select class="form-control data-add" id="printVehicleEdit">
                                <option value="true">Ya</option>
                                <option value="false">Tidak</option>
                            </select>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="categoryProductEdit">Merk</label>
                            <select class="form-control data-edit" id="categoryProductEdit">
                                {% for x in data_cat %}
                                <option value="{{ x['category_id'] }}"> {{ x['category_name'] }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="merkProductEdit">Kategori</label>
                            <select class="form-control data-edit" id="merkProductEdit">
                            </select>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="outletProductEdit">Outlet</label>
                            <select class="form-control data-edit" id="outletProductEdit">
                                {% for x in data_outlet %}
                                <option value="{{ x['outlet_id'] }}"> {{ x['outlet_name'] }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <hr class="w-100" style="border: 1px solid gray;">

                    <div class="form-row">
                        <div class="form-group col-md-2">
                            <label for="qtyProductEdit">Qty</label>
                            <input type="number" class="form-control data-edit" id="qtyProductEdit" required>
                        </div>
                        <div class="form-group col-md-2">
                            <label for="satuanProductEdit">Satuan</label>
                            <input type="text" placeholder="Cth. Pcs, Box" class="form-control data-edit"
                                id="satuanProductEdit" required>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="hbeliProductEdit">Harga Beli</label>
                            <input type="number" class="form-control data-edit" id="hbeliProductEdit" required>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="hjualProductEdit">Harga Jual</label>
                            <input type="number" class="form-control data-edit" id="hjualProductEdit" required>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" id="btnSaveEditModal" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal Add -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addModalLabel">Tambah Produk</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <form>
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label for="skuProductAdd">SKU</label>
                            <input type="text" disabled class="form-control data-add" id="skuProductAdd" required>
                        </div>
                        <div class="form-group col-md-9">
                            <label for="namaProductAdd">Nama Produk</label>
                            <input type="text" class="form-control data-add" id="namaProductAdd" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="partNumberProductAdd">Part Number</label>
                        <input type="text" class="form-control data-add" id="partNumberProductAdd" required>
                    </div>
                    <div class="form-group">
                        <label for="descriptionsProductAdd">Deskripsi Produk</label>
                        <input type="text" class="form-control data-add" id="descriptionsProductAdd" required>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6" hidden>
                            <label for="barcodeProductAdd">Barcode</label>
                            <input type="number" class="form-control data-add" id="barcodeProductAdd" required>
                        </div>
                        <div class="form-group col-md-10">
                            <label for="vehicleProductAdd">Kendaraan</label>
                            <input type="text" class="form-control data-add" id="vehicleProductAdd" required>
                        </div>
                        <div class="form-group col-md-2">
                            <label for="printVehicleAdd">Print</label>
                            <select class="form-control data-add" id="printVehicleAdd" required>
                                <option value="true" selected>Ya</option>
                                <option value="false">Tidak</option>
                            </select>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="categoryProductAdd">Merk</label>
                            <select class="form-control data-add" id="categoryProductAdd">
                                {% for x in data_cat %}
                                <option value="{{ x['category_id'] }}"> {{ x['category_name'] }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="merkProductAdd">Kategori</label>
                            <select class="form-control data-add" id="merkProductAdd">
                            </select>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="outletProductAdd">Outlet</label>
                            <select class="form-control data-add" id="outletProductAdd">
                                {% for x in data_outlet %}
                                <option value="{{ x['outlet_id'] }}"> {{ x['outlet_name'] }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <hr class="w-100" style="border: 1px solid gray;">

                    <div class="form-row">
                        <div class="form-group col-md-2">
                            <label for="qtyProductAdd">Qty</label>
                            <input type="number" class="form-control data-add" id="qtyProductAdd" required>
                        </div>
                        <div class="form-group col-md-2">
                            <label for="satuanProductAdd">Satuan</label>
                            <input type="text" placeholder="Cth. Pcs, Box" class="form-control data-add"
                                id="satuanProductAdd" required>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="hbeliProductAdd">Harga Beli</label>
                            <input type="number" class="form-control data-add" id="hbeliProductAdd" required>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="hjualProductAdd">Harga Jual</label>
                            <input type="number" class="form-control data-add" id="hjualProductAdd" required>
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" id="btnSaveAddModal" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    // Show Data
    $(() => {
        fill_table_product();
        dt_search("search_table_product", fill_table_product);
        dt_search("filterCategory", fill_table_product);
        dt_search("filterMerk", fill_table_product);
        dt_search("filterVehicle", fill_table_product);
    });

    function getFormFilter() {
        var query = ""
        var data = {}
        var outlet = $('#filterOutlet').val()
        var qty = $('#filterQty').val()

        if (outlet) {
            query += "AND outlet_name = '" + outlet + "' "
        }
        if (qty) {
            query += "ORDER BY qty " + qty + ", CASE WHEN sku < 'A' THEN lpad(sku, 255, '0') ELSE sku END;"
        } else {
            query += "ORDER BY CASE WHEN sku < 'A' THEN lpad(sku, 255, '0') ELSE sku END;"
        }
        return query
    }

    $('.filterTable').on('change', function () {
        fill_table_product()
    });

    function fill_table_product() {
        const idTabel = "table_product";
        var filter = getFormFilter()
        const dt_options = {
            scrollY: '50vh',
            fixedColumns: {
                leftColumns: 3,
                rightColumns: 1
            },
            scrollX: true,
            scrollCollapse: true,
            columns: [
                { data: "sku" },
                { data: "part_number" },
                { data: "descriptions_product" },
                { data: "product_name" },
                { data: "barcode" },
                {
                    data: "vehicle",
                    "render": function (data, type, row) {

                        if (row.f_print_vehicle === true) {
                            return '<input type="checkbox" checked onclick="return false;"> &nbsp; ' + row.vehicle;
                        }

                        else {
                            return '<input type="checkbox" onclick="return false;"> &nbsp;' + row.vehicle;
                        }
                    }
                },
                { data: "merk_name" },
                { data: "category_name" },
                { data: "outlet_name" },
                { data: "qty", className: 'text-center' },
                { data: "satuan", className: 'text-center' },
                { data: "harga_beli" },
                { data: "harga_jual" },
                { data: "category_id", searchable: false, visible: false },
                { data: "merk_id", searchable: false, visible: false },
                { data: "outlet_id", searchable: false, visible: false },
                {
                    className: 'text-center',
                    render: data => {
                        return `
                        <div class="d-flex align-items-center justify-content-center" style="gap: 10px;">
                            <button class="btn btn-edit btn-secondary" data-toggle="modal" data-target="#editModal"><i class="fa fa-pencil"></i></button>
                            <button class="btn btn-delete btn-danger"><i class="fa fa-trash"></i></button>
                        </div>
                        `;
                    }
                }
            ],
            columnDefs: [
                {
                    target: [10, 11],
                    searchable: false,
                    render: $.fn.dataTable.render.number(',', '.', 0, ''),
                    className: 'text-right'
                }
            ]
        }
        const ajax_options = {
            url: "/dt/product/",
            data: {
                "search": $('#search_table_product').val().trim(),
                "category": $('#filterCategory').val().trim(),
                "merk": $('#filterMerk').val().trim(),
                "vehicle": $('#filterVehicle').val().trim(),
                "filter": filter
            }
        }

        dt_server(idTabel, ajax_options, dt_options);
    }

    // Edit
    $("#table_product > tbody").on('click', '.btn-edit', e => {
        const rowData = $('#table_product').DataTable().row(getTr(e)).data();

        // get Data Merk by Category

        $('#categoryProductEdit').val(rowData['category_id'])
        getMerkByCategory(rowData['category_id'], $('#merkProductEdit'))

        $('#skuProductEdit').val(rowData['sku'])
        $('#partNumberProductEdit').val(rowData['part_number'])
        $('#descriptionsProductEdit').val(rowData['descriptions_product'])
        $('#namaProductEdit').val(rowData['product_name'])
        $('#barcodeProductEdit').val(rowData['barcode'])
        $('#vehicleProductEdit').val(rowData['vehicle'])
        $('#printVehicleEdit').val(String(rowData['f_print_vehicle']))

        $('#merkProductEdit').val(rowData['merk_id'])
        $('#outletProductEdit').val(rowData['outlet_id'])

        $('#qtyProductEdit').val(rowData['qty'])
        $('#satuanProductEdit').val(rowData['satuan'])
        $('#hbeliProductEdit').val(rowData['harga_beli'])
        $('#hjualProductEdit').val(rowData['harga_jual'])
    })

    $("#btnSaveEditModal").on('click', e => {
        if (!$('#partNumberProductEdit').val()) {
            $('#partNumberProductEdit').val("-")
        }
        if (!$('#vehicleProductEdit').val()) {
            $('#vehicleProductEdit').val(" ")
        }
        var empty = isEmpty("data-edit")
        if (!empty) {
            var sku = $('#skuProductEdit').val()
            var part_number = $('#partNumberProductEdit').val()
            var descriptions_product = $('#descriptionsProductEdit').val()
            var nama = $('#namaProductEdit').val()
            var barcode = $('#barcodeProductEdit').val()
            var vehicle = $('#vehicleProductEdit').val()
            var flag = (String($('#printVehicleEdit').val()).toLowerCase() === 'true')

            var merk = $('#merkProductEdit').val()
            var category = $('#categoryProductEdit').val()
            var outlet = $('#outletProductEdit').val()

            var qty = $('#qtyProductEdit').val()
            var satuan = $('#satuanProductEdit').val()
            var hbeli = $('#hbeliProductEdit').val()
            var hjual = $('#hjualProductEdit').val()

            var data = {
                sku: sku, product_name: nama, part_number: part_number, descriptions_product:descriptions_product, barcode: barcode,
                vehicle: vehicle, merk_id: merk, category_id: category, outlet_id: outlet,
                qty: parseFloat(qty), harga_beli: parseInt(hbeli), harga_jual: parseInt(hjual),
                satuan: satuan, f_print_vehicle: flag
            }
            edit(data)
        }
    })

    var edit = (dataEdit) => {
        $.ajax
            ({
                type: "POST",
                data: dataEdit,
                url: "/product/edit",
                success: (e) => {
                    if (e.status) {
                        $('#editModal').modal('hide')
                        Swal.fire({
                            title: "Sukses",
                            text: e.message,
                            icon: "success"
                        });
                        fill_table_product()
                    }
                    else {
                        Swal.fire({
                            title: "Gagal",
                            text: e.message,
                            icon: "error"
                        });
                    }
                },
                error: function (xhr, status, err) {
                    Swal.fire({
                        title: "Gagal",
                        text: xhr.responseText,
                        icon: "error"
                    });
                }
            });
    }

    $('#categoryProductEdit, #categoryProductAdd').on('change', function () {
        var merkSelect = $('#merkProductEdit')
        if (this.id == 'categoryProductAdd') {
            merkSelect = $('#merkProductAdd')
        }

        getMerkByCategory(this.value, merkSelect);
    });

    function getMerkByCategory(id, $el) {
        $.ajax
            ({
                type: "POST",
                data: { id: id },
                url: "/product/getMerk",
                async: false,
                success: (e) => {
                    if (e.status) {
                        $el.empty(); // remove old options
                        for (var i = 0; i < e.result.length; i++) {
                            $el.append($("<option></option>")
                                .attr("value", e.result[i].merk_id).text(e.result[i].merk_name));
                        }
                    }
                    else {
                        Swal.fire({
                            title: "Gagal",
                            text: e.message,
                            icon: "error"
                        });
                    }
                },
                error: function (xhr, status, err) {
                    Swal.fire({
                        title: "Gagal",
                        text: xhr.responseText,
                        icon: "error"
                    });
                }
            });
    }

    // Delete
    $("#table_product > tbody").on('click', '.btn-delete', e => {
        const rowData = $('#table_product').DataTable().row(getTr(e)).data();
        id = rowData['sku']
        Swal.fire({
            title: "Yakin Hapus Data?",
            text: "Data Tidak akan bisa dipulihkan",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Ya, Hapus",
            cancelButtonText: "Batal"
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax
                    ({
                        type: "POST",
                        data: { sku: id },
                        url: "/product/delete",
                        success: (e) => {
                            if (e.status) {
                                Swal.fire({
                                    title: "Berhasil!",
                                    text: e.message,
                                    icon: "success"
                                });
                                fill_table_product()
                            }
                            else {
                                Swal.fire({
                                    title: "Gagal",
                                    text: e.message,
                                    icon: "error"
                                });
                            }
                        },
                        error: function (xhr, status, err) {
                            Swal.fire({
                                title: "Gagal",
                                text: xhr.responseText,
                                icon: "error"
                            });
                        }
                    });
            }
        });
    })

    $('#addModal').on("shown.bs.modal", function () {
        generateSKU()
        getMerkByCategory($('#categoryProductAdd').val(), $('#merkProductAdd'))
    });

    function generateSKU() {
        $.ajax
            ({
                type: "GET",
                url: "/product/generateSku",
                success: (e) => {
                    if (e.status) {
                        $('#skuProductAdd').val(e.sku)
                    }
                    else {
                        Swal.fire({
                            title: "Gagal",
                            text: e.message,
                            icon: "error"
                        });
                    }
                },
                error: function (xhr, status, err) {
                    Swal.fire({
                        title: "Gagal",
                        text: xhr.responseText,
                        icon: "error"
                    });
                }
            });
    }

    $("#btnSaveAddModal").on('click', e => {
        if (!$('#partNumberProductAdd').val()) {
            $('#partNumberProductAdd').val("-")
        }
        if (!$('#vehicleProductAdd').val()) {
            $('#vehicleProductAdd').val(" ")
        }

        $('#barcodeProductAdd').val($('#skuProductAdd').val())
        var empty = isEmpty("data-add")
        if (!empty) {
            var sku = $('#skuProductAdd').val()
            var part_number = $('#partNumberProductAdd').val()
            var descriptions_product = $('#descriptionsProductAdd').val()
            var nama = $('#namaProductAdd').val()
            var barcode = $('#barcodeProductAdd').val()
            var vehicle = $('#vehicleProductAdd').val()
            var flag = (String($('#printVehicleAdd').val()).toLowerCase() === 'true')

            var merk = $('#merkProductAdd').val()
            var category = $('#categoryProductAdd').val()
            var outlet = $('#outletProductAdd').val()

            var qty = $('#qtyProductAdd').val()
            var satuan = $('#satuanProductAdd').val()
            var hbeli = $('#hbeliProductAdd').val()
            var hjual = $('#hjualProductAdd').val()

            var data = {
                sku: sku, product_name: nama, part_number: part_number, descriptions_product:descriptions_product, satuan: satuan,
                vehicle: vehicle, merk_id: merk, category_id: category, outlet_id: outlet,
                qty: parseFloat(qty), harga_beli: parseInt(hbeli), harga_jual: parseInt(hjual),
                f_print_vehicle: flag
            }

            addProduct(data)
        }
    })

    $('#skuProductAdd').on('input', function (evt) {
        $(this).val(function (_, val) {
            return val.toUpperCase();
        });
    });

    function addProduct(data) {
        $.ajax
            ({
                type: "POST",
                data: data,
                url: "/product/add",
                async: false,
                success: (e) => {
                    if (e.status) {
                        $('#addModal').modal('hide')
                        Swal.fire({
                            title: "Berhasil!",
                            text: e.message,
                            icon: "success"
                        });
                        clearForm()
                    } else {
                        Swal.fire({
                            title: "Gagal, Coba Lagi!",
                            text: e.message,
                            icon: "error"
                        });
                    }
                    fill_table_product()
                },
                error: function (xhr, status, err) {
                    Swal.fire({
                        title: "Gagal",
                        text: xhr.responseText,
                        icon: "error"
                    });
                }
            });
    }

</script>
{% endblock %}