{% extends 'base.html' %}
{% block title %}Transaksi{% endblock %}
{% block menu %}Transaksi{% endblock %}
{% block content %}

<!-- DataTables -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/datatables.min.css') }}">
<script src="{{ url_for('static', filename='assets/js/datatables.min.js') }}"></script>

<div class="d-flex justify-content-between mt-5 mr-5">
    <div class="form-row ml-auto justify-content-between p-2 w-75">
        <select id="filterDate" class="form-control form-control-lg col-2 m-auto filterTable">
            <option value="" selected disabled>Tanggal Transaksi</option>
            <option value="all">Semua</option>
            <option value="today">Hari ini</option>
            <option value="yesterday">Kemarin</option>
            <option value="this_week">Minggu ini</option>
            <option value="last_week">Minggu Lalu</option>
            <option value="this_month">Bulan ini</option>
            <option value="last_month">Bulan lalu</option>
        </select>

        <input type="text" class="form-control col-2 m-auto" id="filterMember" placeholder="Cari pelanggan..">
        <select id="filterOutlet" class="form-control form-control-lg col-2 m-auto filterTable">
            <option value="" selected disabled>Outlet</option>
            <option value="">Semua</option>
            {% for x in data_outlet %}
            <option value="{{ x['outlet_id'] }}"> {{ x['outlet_name'] }}</option>
            {% endfor %}
        </select>

        <select id="filterType" class="form-control form-control-lg col-2 m-auto filterTable">
            <option value="" selected disabled>Metode Bayar</option>
            <option value="all">Semua</option>
            {% for x in data_type %}
            <option value="{{ x['type_id'] }}">{{ x['type_name'] }}</option>
            {% endfor %}
        </select>

        <select id="filterStatus" class="form-control form-control-lg col-2 m-auto filterTable">
            <option value="" selected disabled>Status</option>
            <option value="all">Semua</option>
            <option value="overdue">Overdue</option>
            <option value="bon">BON</option>
            <option value="done">Done</option>
        </select>
        
    </div>
    <div class="ml-auto p-2 mt-2 justify-content-between">
        <div class="input-group mb-2">
            <input type="text" class="form-control" placeholder="Cari transaksi..." id="search_table_trans">
            <div class="input-group-append">
                <span class="input-group-text" id="basic-addon2">
                    <i class="fa fa-search"></i>
                </span>
            </div>
        </div>
    </div>
</div>
<div class="table-responsive">
    <table id="table_transaksi" class="table table-hover table-bordered table-striped w-100 mb-2"
        style="white-space: nowrap;">
        <thead class="thead-light">
            <th class="text-center">No. Faktur</th>
            <th class="text-center">Tanggal Transaksi</th>
            <th class="text-center">Pelanggan</th>
            <th class="text-center">Total Pembelian</th>
            <th class="text-center">Metode</th>
            <th class="text-center">Status</th>
            <th class="text-center">Action</th>
        </thead>
        <tbody></tbody>
    </table>
</div>

<!-- Modal detail -->
<div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="detailModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="detaileModalLabel">Detail Order</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body row">
                <div class="form-group col-12">
                    <label for="fakturDetail">Faktur</label>
                    <input type="text" class="form-control" id="fakturDetail" readonly>
                </div>
                <div class="form-group col-4">
                    <label for="outletNameDetail">Nama Outlet</label>
                    <input type="text" class="form-control" id="outletNameDetail" readonly>
                </div>
                <div class="form-group col-4">
                    <label for="tanggalDetail">Tanggal Transaksi</label>
                    <input type="text" class="form-control" id="tanggalDetail" readonly>
                </div>
                <div class="form-group col-4">
                    <label for="timeDetail">Waktu Transaksi</label>
                    <input type="text" class="form-control" id="timeDetail" readonly>
                </div>
                <div class="form-group col-4">
                    <label for="jenisFakturDetail">Jenis Faktur</label>
                    <input type="text" class="form-control" id="jenisFakturDetail" readonly>
                </div>
                <div class="form-group col-4">
                    <label for="jatuhTempoDetail">Jatuh Tempo</label>
                    <input type="text" class="form-control" id="jatuhTempoDetail" readonly>
                </div>
                <div class="form-group col-4">
                    <label for="memberNameDetail">Nama Pelanggan</label>
                    <input type="text" class="form-control" id="memberNameDetail" readonly>
                </div>

                <div class="col-12">
                    <p style="margin-top: 10px;">Produk</p>
                    <table id="table_product" class="table table-hover table-bordered table-striped w-100 mb-2"
                        style="white-space: nowrap;">
                        <thead class="thead-light">
                            <th class="text-center sku-detail">SKU</th>
                            <th class="text-center">Part Number</th>
                            <th class="text-center">Nama Produk</th>
                            <th class="text-center">Kategori</th>
                            <th class="text-center">Qty</th>
                            <th class="text-center">Harga Beli</th>
                            <th class="text-center">Sub Total</th>
                        </thead>
                    </table>

                    <table class="font-order table table-borderless w-100">
                        <thead>
                            <tr>
                                <th class="w-25 pr-5 text-dark">Total Barang</th>
                                <th><b>Rp</b></th>
                                <th class="w-25 text-right text-dark"><b id="totalBarangDetail">0</b></th>
                                <th class="w-50"></th>
                            </tr>
                            <tr>
                                <th class="w-25 pr-5 text-dark"><b>Biaya Ongkir</b></th>
                                <th><b class="text-dark">Rp</b></th>
                                <th class="w-25 text-right text-dark"><b id="otherFeeDetail">0</b></th>
                                <th class="w-50"></th>
                            </tr>
                            <tr>
                                <th class="w-25 pr-5 text-danger"><b>Diskon</b></th>
                                <th><b class="text-danger">Rp</b></th>
                                <th class="w-25 text-right text-danger"><b id="diskonDetail">0</b></th>
                                <th class="w-50"></th>
                            </tr>
                            <tr>
                                <th class="w-25 pr-5 text-primary"><b>Total Faktur</b></th>
                                <th class="text-primary"><b>Rp</b></th>
                                <th class="w-25 text-right text-primary"><b id="totalFakturDetail">0</b></th>
                                <th class="w-50"></th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div class="form-group col-6">
                    <label for="paymentTypeDetail">Metode Bayar</label>
                    <input type="text" class="form-control" id="paymentTypeDetail" readonly>
                </div>
                <div class="form-group col-6">
                    <label for="paymentInfoDetail">Info</label>
                    <input type="text" class="form-control" id="paymentInfoDetail" readonly>
                </div>
                <div class="form-group col-12">
                    <label for="otherNoteDetail">Keterangan</label>
                    <input type="text" class="form-control" id="otherNoteDetail" readonly>
                </div>
            </div>


            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Update Payment -->
<div class="modal fade" id="updatePaymentModal" tabindex="-1" role="dialog" aria-labelledby="updatePaymentModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updatePaymentModalLabel">Update Pembayaran</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body row">
                <div class="form-group col-12">
                    <label for="fakturPayment">Faktur</label>
                    <input type="text" class="form-control" id="fakturPayment" readonly>
                </div>
                <div class="form-group col-12">
                    <label for="metodeBayar" class="col-form-label">Metode Bayar</label>
                    <select class="form-control" id="metodeBayar">
                        <option value="" disabled selected> -- Pilih Jenis Bayar</option>
                        {% for x in data_type %}
                        <option value="{{ x['type_id'] }}">{{ x['type_name'] }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div id="hidePayment" hidden>
                <div class="form-group col-12">
                    <label for="rekeningBayar" class="col-form-label">Metode Bayar</label>
                    <select class="form-control" id="rekeningBayar">
                        <option value="" disabled selected> -- Pilih Rekening</option>
                        {% for x in data_rek %}
                        <option value="{{ x['rekening_bank'] }} - {{ x['rekening_no'] }} - {{ x['rekening_name'] }}">
                            {{ x['rekening_bank'] }} - {{ x['rekening_no'] }} - {{ x['rekening_name'] }}
                        </option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" onclick="updatePayment()" class="btn btn-primary"
                    data-dismiss="modal">Simpan</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(() => {
        fill_table_trans();
        dt_search("search_table_trans", fill_table_trans);
        dt_search("filterMember", fill_table_trans);
    });

    $('.filterTable').on('change', function () {
        fill_table_trans()
    });

    function getFormFilter() {
        var query = ""
        var date = $('#filterDate').val()
        var outlet = $('#filterOutlet').val()
        var status = $('#filterStatus').val()
        var metode = $('#filterType').val()

        if (date == 'today') {
            query += "AND date_tx = current_date "
        } else if (date == 'yesterday') {
            query += "AND date_tx = current_date - 1 "
        } else if (date == 'this_week') {
            query += "AND EXTRACT (WEEK FROM date_tx) = EXTRACT (WEEK FROM current_date) "
        } else if (date == 'last_week') {
            query += "AND EXTRACT (WEEK FROM date_tx) = EXTRACT (WEEK FROM current_date) - 1 "
        } else if (date == 'this_month') {
            query += "AND EXTRACT (MONTH FROM date_tx) = EXTRACT (MONTH FROM current_date) "
        } else if (date == 'last_month') {
            query += "AND EXTRACT (MONTH FROM date_tx) = EXTRACT (MONTH FROM current_date) - 1 "
        } else {
            query = ''
        }

        if (outlet) {
            query += "AND substring(faktur,1,2) = '" + outlet + "' "
        }

        if (status == 'overdue') {
            query += "AND tt.payment_id is null AND current_date > due_date::int + date_tx "
        } else if (status == 'BON') {
            query += "AND tt.payment_id is null AND current_date <= due_date::int + date_tx "
        } else if (status == 'done') {
            query += "AND tt.payment_id is not null "
        }

        if (metode && metode != 'all') {
            query += "AND type_id = '" + metode + "' "
        }
        return query
    }

    function fill_table_trans() {
        const idTabel = "table_transaksi";
        var filter = getFormFilter()
        const dt_options = {
            scrollY: '50vh',
            fixedColumns: {
                leftColumns: 2,
                rightColumns: 1
            },
            scrollX: true,
            scrollCollapse: true,
            columns: [
                { data: "faktur" },
                { data: "date_tx" },
                { data: "member_name" },
                { data: "total_faktur" },
                { data: "type_name" },
                { data: "payment_info" },
                {
                    "render": function (data, type, row) {
                        if (row.type_name == 'BON') {
                            return `
                            <div class="d-flex align-items-center justify-content-start" style="gap: 10px;">
                                <button class="btn btn-detail btn-secondary" data-toggle="modal" data-target="#detailModal"><i class="fa fa-eye" data-placement="bottom" title="Detail" data-toggle="tooltip"></i></button>
                                <button class="btn btn-print btn-primary"data-toggle="tooltip" data-placement="bottom" title="Print"><i class="fa fa-print"></i></button>
                                <button class="btn btn-payment btn-danger"data-toggle="tooltip" data-placement="bottom" title="Pembayaran"><i class="fa fa-credit-card"></i></button>
                            </div>
                            `;
                        }
                        else {
                            return `
                            <div class="d-flex align-items-center justify-content-start" style="gap: 10px;">
                                <button class="btn btn-detail btn-secondary" data-toggle="modal" data-target="#detailModal"><i class="fa fa-eye" data-placement="bottom" title="Detail" data-toggle="tooltip"></i></button>
                                <button class="btn btn-print btn-primary"data-toggle="tooltip" data-placement="bottom" title="Print"><i class="fa fa-print"></i></button>
                            </div>
                            `;
                        }
                    }
                }
            ]
        }
        const ajax_options = {
            url: "/dt/transaksi",
            data: {
                "search": $('#search_table_trans').val().trim(),
                "member": $('#filterMember').val().trim(),
                "filter": filter
            }
        }

        dt_server(idTabel, ajax_options, dt_options);
    }


    $("#table_transaksi > tbody").on('click', '.btn-print', e => {
        const rowData = $('#table_transaksi').DataTable().row(getTr(e)).data();
        getDataTransByFaktur(rowData['faktur'])
    })

    $("#table_transaksi > tbody").on('click', '.btn-payment', e => {
        const rowData = $('#table_transaksi').DataTable().row(getTr(e)).data();
        //rowData['faktur']
        $('#updatePaymentModal').modal('show')
        $('#fakturPayment').val(rowData['faktur'])
        $("#metodeBayar").val("")
        $('#hidePayment').hide()
        $("#rekeningBayar").val("")
    })

    $("#metodeBayar").on('change', function (e) {
        var selected = this.value
        if (selected == 1) {
            $('#hidePayment').removeAttr('hidden');
            $('#hidePayment').show();
        } else {
            $("#rekeningBayar").val("")
            $('#hidePayment').hide();
        }
    });

    function updatePayment() {
        var data = {}
        data['faktur'] = $('#fakturPayment').val()
        data['payment_id'] = $("#metodeBayar").val()
        data['payment_info'] = $("#rekeningBayar").val()

        $.ajax
            ({
                type: "POST",
                data: JSON.stringify(data),
                contentType: "application/json",
                url: "/transaksi/updatePayment",
                success: (e) => {
                    if (e.status) {
                        Swal.fire({
                            icon: "success",
                            title: e.message,
                            showConfirmButton: false,
                            timer: 1500
                        }).then(function () {
                            fill_table_trans()
                        });
                    }
                    else {
                        Swal.fire({
                            title: "Gagal",
                            text: e.message,
                            icon: "error"
                        });
                    }
                },
                error: function (xhr, status, err) {
                    Swal.fire({
                        title: "Gagal",
                        text: xhr.responseText,
                        icon: "error"
                    });
                }
            });
    }

    function getDataTransByFaktur(faktur) {
        printWindow = window.open("/transaksi/getDataTransByFaktur/" + faktur, '_blank')
        printWindow.focus()
    }

    //Detail
    const table_product = new DataTable('#table_product', {
        scrollCollapse: true,
        scrollY: '50vh',
        "bPaginate": false,
        "bLengthChange": false,
        "bFilter": false,
        "bInfo": false
    })

    $("#table_transaksi > tbody").on('click', '.btn-detail', e => {
        //reset all form
        $('#fakturDetail').val('')
        $('#tanggalDetail').val('')
        $('#storeBuyDetail').val('')
        table_product.clear().draw();

        //get data detail
        const rowData = $('#table_transaksi').DataTable().row(getTr(e)).data();
        $.ajax
            ({
                type: "GET",
                data: {
                    faktur: rowData['faktur']
                },
                url: "/transaksi/getDetailDataTrans",
                success: (e) => {
                    if (e.status) {
                        addRowDetail(e.data)
                    }
                    else {
                        Swal.fire({
                            title: "Gagal",
                            text: e.message,
                            icon: "error"
                        });
                    }
                },
                error: function (xhr, status, err) {
                    Swal.fire({
                        title: "Gagal",
                        text: xhr.responseText,
                        icon: "error"
                    });
                }
            });
    })

    function addRowDetail(data) {
        //Set data form
        $('#fakturDetail').val(data['faktur'])
        $('#tanggalDetail').val(data['date_tx'])
        $('#timeDetail').val(data['time_tx'])
        $('#outletNameDetail').val(data['outlet']['outlet_name'])
        $('#jatuhTempoDetail').val(data['due_date'] || '-')

        if (data['tx_type'] == '0') {
            $('#jenisFakturDetail').val('Kontan')
        } else if (data['tx_type'] == '1') {
            $('#jenisFakturDetail').val('BON')
        } else if (data['tx_type'] == '2') {
            $('#jenisFakturDetail').val('Lunas')
        }
        
        $('#memberNameDetail').val(data['member_name'] || 'Bukan Pelanggan')
        $('#paymentTypeDetail').val(data['type_name'] || '-')
        $('#paymentInfoDetail').val(data['payment_info'] || '-')

        $('#otherNoteDetail').val(data['other_note'])
        $('#totalBarangDetail').text(numberWithCommas(data['total_faktur']))
        $('#diskonDetail').text(numberWithCommas(data['diskon']))
        $('#otherFeeDetail').text(numberWithCommas(data['other_fee']))

        totalAll = parseInt(data['total_faktur']) + parseInt(data['other_fee']) - parseInt(data['diskon'])
        $('#totalFakturDetail').text(numberWithCommas(totalAll))

        //Add Row Table Detail Product
        product = data['product']
        for (var i = 0; i < product.length; i++) {
            var item = [
                product[i]['sku'],
                product[i]['part_number'],
                product[i]['product_name'],
                product[i]['merk_name'],
                numberWithCommas(product[i]['qty']),
                numberWithCommas(product[i]['price']),
                numberWithCommas(product[i]['subtotal']),
            ]
            var rowNode = table_product.row.add(item).draw().node()
            $(rowNode).find('td').addClass('align-middle');
            $(rowNode).find('td').eq(4).addClass('text-right');
            $(rowNode).find('td').eq(5).addClass('text-right');
            $(rowNode).find('td').eq(6).addClass('text-right');
        }
    }

    $('#detailModal').on('shown.bs.modal', function (e) {
        $.fn.dataTable.tables({ visible: true, api: true }).columns.adjust().draw();
        $('.sku-detail').click()
        $('.sku-detail').click()
        $('.sku-detail').click()
    });

    function numberWithCommas(x) {
        return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".");
    }
</script>

{% endblock %}