{% extends 'base.html' %}
{% block title %}Transaksi{% endblock %}
{% block menu %}Transaksi{% endblock %}
{% block content %}

<!-- DataTables -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/datatables.min.css') }}">
<script src="{{ url_for('static', filename='assets/js/datatables.min.js') }}"></script>

<div class="d-flex justify-content-between mt-5 mr-5">
    <div>
        <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#addModal">+ Tambah Pelanggan</button>
    </div>
    <div>
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="cari transaksi..." id="search_table_trans">
            <div class="input-group-append">
                <span class="input-group-text" id="basic-addon2">
                    <i class="fa fa-search"></i>
                </span>
            </div>
        </div>
    </div>
</div>
<div class="table-responsive">
    <table id="table_transaksi" class="table table-hover table-bordered table-striped w-100 mb-2"
        style="white-space: nowrap;">
        <thead class="thead-dark">
            <th class="text-center">No. Faktur</th>
            <th class="text-center">Tanggal Transaksi</th>
            <th class="text-center">Pelanggan</th>
            <th class="text-center">Total Pembelian</th>
            <th class="text-center">Status</th>
            <th class="text-center">Action</th>
        </thead>
        <tbody></tbody>
    </table>
</div>

<!-- Modal detail -->
<div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="detailModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="detaileModalLabel">Detail Order</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body row">
                <div class="form-group col-12">
                    <label for="fakturDetail">Faktur</label>
                    <input type="text" class="form-control" id="fakturDetail" readonly>
                </div>
                <div class="form-group col-4">
                    <label for="outletNameDetail">Nama Outlet</label>
                    <input type="text" class="form-control" id="outletNameDetail" readonly>
                </div>
                <div class="form-group col-4">
                    <label for="tanggalDetail">Tanggal Transaksi</label>
                    <input type="text" class="form-control" id="tanggalDetail" readonly>
                </div>
                <div class="form-group col-4">
                    <label for="timeDetail">Waktu Transaksi</label>
                    <input type="text" class="form-control" id="timeDetail" readonly>
                </div>
                <div class="form-group col-4">
                    <label for="jenisFakturDetail">Jenis Faktur</label>
                    <input type="text" class="form-control" id="jenisFakturDetail" readonly>
                </div>
                <div class="form-group col-4">
                    <label for="jatuhTempoDetail">Jatuh Tempo</label>
                    <input type="text" class="form-control" id="jatuhTempoDetail" readonly>
                </div>
                <div class="form-group col-4">
                    <label for="memberNameDetail">Nama Pelanggan</label>
                    <input type="text" class="form-control" id="memberNameDetail" readonly>
                </div>

                <div class="col-12">
                    <p style="margin-top: 10px;">Produk</p>
                    <table id="table_product" class="table table-hover table-bordered table-striped w-100 mb-2"
                        style="white-space: nowrap;">
                        <thead class="thead-dark">
                            <th class="text-center sku-detail">SKU</th>
                            <th class="text-center">Part Number</th>
                            <th class="text-center">Nama Produk</th>
                            <th class="text-center">Kategori</th>
                            <th class="text-center">Qty</th>
                            <th class="text-center">Harga Beli</th>
                            <th class="text-center">Sub Total</th>
                        </thead>
                    </table>

                    <table class="font-order table table-borderless w-100">
                        <thead>
                            <tr>
                                <th class="w-25 pr-5 text-dark">Total Barang</th>
                                <th><b>Rp</b></th>
                                <th class="w-25 text-right text-dark"><b id="totalBarangDetail">0</b></th>
                                <th class="w-50"></th>
                            </tr>
                            <tr>
                                <th class="w-25 pr-5 text-danger"><b>Biaya Ongkir</b></th>
                                <th><b class="text-danger">Rp</b></th>
                                <th class="w-25 text-right text-danger"><b id="otherFeeDetail">0</b></th>
                                <th class="w-50"></th>
                            </tr>
                            <tr>
                                <th class="w-25 pr-5 text-primary"><b>Total Faktur</b></th>
                                <th class="text-primary"><b>Rp</b></th>
                                <th class="w-25 text-right text-primary"><b id="totalFakturDetail">0</b></th>
                                <th class="w-50"></th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div class="form-group col-6">
                    <label for="paymentTypeDetail">Metode Bayar</label>
                    <input type="text" class="form-control" id="paymentTypeDetail" readonly>
                </div>
                <div class="form-group col-6">
                    <label for="paymentInfoDetail">Info</label>
                    <input type="text" class="form-control" id="paymentInfoDetail" readonly>
                </div>
                <div class="form-group col-12">
                    <label for="otherNoteDetail">Keterangan</label>
                    <input type="text" class="form-control" id="otherNoteDetail" readonly>
                </div>
            </div>


            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(() => {
        fill_table_trans();
        dt_search("search_table_trans", fill_table_trans);
    });

    function fill_table_trans() {
        const idTabel = "table_transaksi";
        const dt_options = {
            scrollY: '50vh',
            columns: [
                { data: "faktur" },
                { data: "date_tx" },
                { data: "member_name" },
                { data: "total_faktur" },
                { data: "payment_info" },
                {
                    className: 'text-center',
                    render: data => {
                        return `
                        <div class="d-flex align-items-center justify-content-center" style="gap: 10px;">
                            <button class="btn btn-detail btn-secondary" data-toggle="modal" data-target="#detailModal"><i class="fa fa-eye" data-placement="bottom" title="Detail" data-toggle="tooltip"></i></button>
                            <button class="btn btn-print btn-primary"data-toggle="tooltip" data-placement="bottom" title="Print"><i class="fa fa-print"></i></button>
                        </div>
                        `;
                    }
                }
            ]
        }
        const ajax_options = {
            url: "/dt/transaksi",
            data: {
                "search": $('#search_table_trans').val().trim()
            }
        }

        dt_server(idTabel, ajax_options, dt_options);
    }


    $("#table_transaksi > tbody").on('click', '.btn-print', e => {
        const rowData = $('#table_transaksi').DataTable().row(getTr(e)).data();
        getDataTransByFaktur(rowData['faktur'])
    })

    function getDataTransByFaktur(faktur) {
        printWindow = window.open("/transaksi/getDataTransByFaktur/" + faktur, '_blank')
        printWindow.focus()
    }

    //Detail
    const table_product = new DataTable('#table_product', {
        scrollCollapse: true,
        scrollY: '50vh',
        "bPaginate": false,
        "bLengthChange": false,
        "bFilter": false,
        "bInfo": false
    })

    $("#table_transaksi > tbody").on('click', '.btn-detail', e => {
        //reset all form
        $('#fakturDetail').val('')
        $('#tanggalDetail').val('')
        $('#storeBuyDetail').val('')
        table_product.clear().draw();

        //get data detail
        const rowData = $('#table_transaksi').DataTable().row(getTr(e)).data();
        $.ajax
            ({
                type: "GET",
                data: {
                    faktur: rowData['faktur']
                },
                url: "/transaksi/getDetailDataTrans",
                success: (e) => {
                    if (e.status) {
                        addRowDetail(e.data)
                    }
                    else {
                        Swal.fire({
                            title: "Gagal",
                            text: e.message,
                            icon: "error"
                        });
                    }
                },
                error: function (xhr, status, err) {
                    Swal.fire({
                        title: "Gagal",
                        text: xhr.responseText,
                        icon: "error"
                    });
                }
            });
    })

    function addRowDetail(data) {
        //Set data form
        $('#fakturDetail').val(data['faktur'])
        $('#tanggalDetail').val(data['date_tx'])
        $('#timeDetail').val(data['time_tx'])
        $('#outletNameDetail').val(data['outlet']['outlet_name'])
        $('#jatuhTempoDetail').val(data['due_date'] || '-')

        if (data['tx_type'] == '1') {
            $('#jenisFakturDetail').val('Bon')
        } else {
            $('#jenisFakturDetail').val('Kontan')
        }
        $('#memberNameDetail').val(data['member_name'] || 'Bukan Pelanggan')
        $('#paymentTypeDetail').val(data['type_name'] || '-')
        $('#paymentInfoDetail').val(data['payment_info'] || '-')


        $('#otherNoteDetail').val(data['other_note'])
        $('#totalBarangDetail').text(numberWithCommas(data['total_faktur']))
        $('#otherFeeDetail').text(numberWithCommas(data['other_fee']))

        totalAll = parseInt(data['total_faktur']) + parseInt(data['other_fee'])
        $('#totalFakturDetail').text(numberWithCommas(totalAll))

        //Add Row Table Detail Product
        product = data['product']
        for (var i = 0; i < product.length; i++) {
            var item = [
                product[i]['sku'],
                product[i]['part_number'],
                product[i]['product_name'],
                product[i]['merk_name'],
                numberWithCommas(product[i]['qty']),
                numberWithCommas(product[i]['price']),
                numberWithCommas(product[i]['subtotal']),
            ]
            var rowNode = table_product.row.add(item).draw().node()
            $(rowNode).find('td').addClass('align-middle');
            $(rowNode).find('td').eq(4).addClass('text-right');
            $(rowNode).find('td').eq(5).addClass('text-right');
            $(rowNode).find('td').eq(6).addClass('text-right');
        }
    }

    $('#detailModal').on('shown.bs.modal', function (e) {
        $.fn.dataTable.tables({ visible: true, api: true }).columns.adjust().draw();
        $('.sku-detail').click()
        $('.sku-detail').click()
        $('.sku-detail').click()
    });

    function numberWithCommas(x) {
        return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".");
    }
</script>

{% endblock %}